.navel{
color: white;
}
.bold{
  /* font: bold; */
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.bold{
  /* font: bold; */
  font-weight: bold;
  color: black;
}
.font1{
  font-style:italic;
  cursor: pointer;
}
.font2{
  font-family: cursive !important;
  cursor: pointer;
}
.font3{
  font-family: Roboto, sans-serif;
  cursor: pointer;
}